QuepasaQRCODE.json
{
  "name": "QuepasaQRCODE",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "socialatendimento",
        "options": {}
      },
      "id": "9ac25ca7-c69a-41c0-86fe-b7d71873144f",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1120,
        440
      ],
      "webhookId": "e8d38d79-8f79-4bd1-85f8-fce3d8200233"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "URL FORMADA",
              "value": "=https://{{ $node[\"Colocando Dados\"].json[\"URL N8N\"] }}/webhook/from-chatwoot?qphost=https://{{ $node[\"Colocando Dados\"].json[\"URL DO QUEPASA\"] }}&qptoken={{ $node[\"Colocando Dados\"].json[\"TOKEN DO QUEPASA\"] }}&inbox={{ $node[\"Colocando Dados\"].json[\"NUMERO DO INBOX\"] }}&identifier={{ $node[\"Informa Identifier\"].json[\"identifier\"] }}&cwhost=https://{{ $node[\"Colocando Dados\"].json[\"URL CHATWOOT\"] }}&utoken={{ $json.substring }}&atoken={{ $node[\"Garante Token\"].json[\"token\"] }}&account={{ $node[\"Colocando Dados\"].json[\"ID DA CONTA\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "97df99d9-06b4-467a-a410-9336cde67c4e",
      "name": "Formação da URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -160,
        441
      ],
      "retryOnFail": false,
      "continueOnFail": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "URL N8N",
              "value": "n8n.socialatendimento.com.br"
            },
            {
              "name": "URL DO QUEPASA",
              "value": "quepasa.socialatendimento.com.br"
            },
            {
              "name": "TOKEN DO QUEPASA",
              "value": "=token{{ $json.body.timestamp }}"
            },
            {
              "name": "NUMERO DO INBOX",
              "value": "={{ $json.body.contact_inbox.inbox_id }}"
            },
            {
              "name": "URL CHATWOOT",
              "value": "sender.socialatendimento.com.br"
            },
            {
              "name": "ID DA CONTA",
              "value": "={{ $json.body.messages[0].account_id }}"
            },
            {
              "name": "TOKEN Platform Apps",
              "value": "dz3qEedSZwXeEVLBH4u5uyvR"
            }
          ]
        },
        "options": {}
      },
      "id": "7d8b04f7-66a7-4fa5-9a57-1f043328885f",
      "name": "Colocando Dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -920,
        440
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Token",
              "value": "={{ $node[\"Colocando Dados\"].json[\"TOKEN DO QUEPASA\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cd01838c-020c-4f7e-a40c-ef4e6145f2a2",
      "name": "Gerador Token",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        380,
        440
      ]
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Colocando Dados\"].json[\"URL DO QUEPASA\"] }}/scan",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-QUEPASA-TOKEN",
              "value": "={{ $json.Token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ba4748b1-a122-4605-8993-e40eee3833d1",
      "name": "Cria o QrCode",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -240,
        780
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://{{ $node[\"Colocando Dados\"].json[\"URL CHATWOOT\"] }}/api/v1/accounts/{{ $node.Webhook.json.body.messages[0].account_id }}/conversations/{{ $node.Webhook.json.body.messages[0].conversation_id }}/messages ",
        "allowUnauthorizedCerts": true,
        "jsonParameters": true,
        "options": {
          "bodyContentType": "multipart-form-data"
        },
        "sendBinaryData": true,
        "binaryPropertyName": "attachments[]:data",
        "headerParametersJson": "={ \"api_access_token\": \"{{ $node[\"Pega Token Chatwoot\"].json.substring }}\" }",
        "queryParametersJson": "={{ $binary }}"
      },
      "name": "Envia QRCode No Chatwoot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -60,
        780
      ],
      "id": "e465ed7a-72f8-4e19-a9b7-20dff36ca684"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE \"public\".\"channel_api\" SET \"webhook_url\"='{{ $node[\"Formação da URL\"].json[\"URL FORMADA\"] }}' WHERE \"id\"='{{ $node[\"Informa Identifier\"].json[\"channel_id\"] }}';",
        "additionalFields": {}
      },
      "id": "3151ce79-6e1d-44ce-ac1e-71568e340b62",
      "name": "Atualiza Webhook",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1600,
        1000
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT \"public\".\"channel_api\".\"identifier\", \"public\".\"inboxes\".\"channel_id\" FROM \"public\".\"channel_api\" INNER JOIN \"public\".\"inboxes\" ON \"public\".\"channel_api\".\"id\" = \"public\".\"inboxes\".\"channel_id\" WHERE \"public\".\"channel_api\".\"account_id\"='{{ $node[\"Colocando Dados\"].json[\"ID DA CONTA\"] }}' AND \"public\".\"inboxes\".\"id\" = '{{ $node[\"Colocando Dados\"].json[\"NUMERO DO INBOX\"] }}';",
        "additionalFields": {}
      },
      "id": "fc16a3b7-4cb9-4c3a-8dfc-98c080d49691",
      "name": "Informa Identifier",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -820,
        720
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "value2": "unknown error"
            }
          ]
        }
      },
      "id": "19a622af-b4e6-49ad-864d-094e3220039a",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1580,
        580
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $node[\"Colocando Dados\"].json[\"URL CHATWOOT\"] }}/api/v1/accounts/{{ $node.Webhook.json.body.messages[0].account_id }}/conversations/{{ $node.Webhook.json.body.messages[0].conversation_id }}/messages ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $node[\"Pega Token Chatwoot\"].json.substring }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=✅ Qrcode escaneado com sucesso!\n\n✅ Sistema Pronto para Usar\n"
            },
            {
              "name": "message_type",
              "value": "incoming"
            },
            {
              "name": "private",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "00ec7133-b074-4f3e-99ca-10e9f5134aec",
      "name": "Envia Mensagem De Conectado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1860,
        720
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT  \"id\", SUBSTRING(\"owner_type\", 1, 256),  \"owner_id\", SUBSTRING(\"token\", 1, 256),  \"created_at\",  \"updated_at\" \nFROM \"public\".\"access_tokens\" \nWHERE \"owner_id\"={{ $node[\"Colocando Dados\"].json[\"ID DA CONTA\"] }} AND \n      \"owner_type\"='User'",
        "additionalFields": {}
      },
      "id": "ab98d699-ac1f-4d10-835d-2bf6fbd45a95",
      "name": "Pega Token Chatwoot",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -620,
        720
      ],
      "alwaysOutputData": true,
      "retryOnFail": false,
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $node[\"Colocando Dados\"].json[\"URL CHATWOOT\"] }}/api/v1/accounts/{{ $node.Webhook.json.body.messages[0].account_id }}/conversations/{{ $node.Webhook.json.body.messages[0].conversation_id }}/messages ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $node[\"Pega Token Chatwoot\"].json.substring }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=✅ Qrcode gerado com sucesso!\n\n✅ Digitalize este código QR nos próximos 20 segundos:"
            },
            {
              "name": "message_type",
              "value": "incoming"
            },
            {
              "name": "private",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "e5f4f850-f126-4daf-bf00-4d1dc820f96b",
      "name": "Qrcode gerado com sucesso!",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        120,
        780
      ]
    },
    {
      "parameters": {
        "baseUrl": "https://quepasa.socialatendimento.com.br",
        "token": "={{ $node[\"Colocando Dados\"].json[\"TOKEN DO QUEPASA\"] }}",
        "resource": "webhook"
      },
      "id": "070b91be-d00c-4efb-86a1-9df832dbcd00",
      "name": "Verifica se Conectou",
      "type": "n8n-nodes-quepasa.quepasa",
      "typeVersion": 1,
      "position": [
        1300,
        380
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $node[\"Colocando Dados\"].json[\"URL CHATWOOT\"] }}/api/v1/accounts/{{ $node.Webhook.json.body.messages[0].account_id }}/conversations/{{ $node.Webhook.json.body.messages[0].conversation_id }}/messages ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $node[\"Pega Token Chatwoot\"].json.substring }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=✅ Qrcode gerado com expirou, por favor \n\n✅ Iniciar novamente, uma nova Caixa de Entrada!\n"
            },
            {
              "name": "message_type",
              "value": "incoming"
            },
            {
              "name": "private",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "a5f17565-5a1c-4ec3-a5d2-04caebbabf5d",
      "name": "Passou tempo Tente Novamente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1840,
        360
      ]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "e0b82578-579c-4102-8abf-0a33d71aa9bd",
      "name": "Aguarda 30 Segundos para Escanear Qrcode",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        320,
        780
      ],
      "webhookId": "b8706931-81cb-4f18-93e0-0a5d5416734b"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $node[\"Colocando Dados\"].json[\"URL CHATWOOT\"] }}/api/v1/accounts/{{ $node.Webhook.json.body.messages[0].account_id }}/conversations/{{ $node.Webhook.json.body.messages[0].conversation_id }}/messages ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $node[\"Pega Token Chatwoot\"].json.substring }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=🔘 Que bom que deu tudo certo, que tal fazer uma contribuição para quem criou esse manual sensacional?\n\n✅ PIX CNPJ\n\n45959142000119\t\n\n😀Assim você ajuda a trazer mais novidades😀\n\n😀Para apagar essa mensagem basta Acessar NO Workflow QRCODE e apagar ultimo NO😀\n"
            },
            {
              "name": "message_type",
              "value": "incoming"
            },
            {
              "name": "private",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "37f78fdd-cff2-4a7c-b14a-04db54939112",
      "name": "Testando 123",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2080,
        560
      ]
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Colocando Dados\"].json[\"URL DO QUEPASA\"] }}/command",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "restart"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-QUEPASA-TOKEN",
              "value": "={{ $node[\"Colocando Dados\"].json[\"TOKEN DO QUEPASA\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d9c605a2-8e0c-42ea-8e2b-c42e044db335",
      "name": "Restart Quepasa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        500,
        780
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "baseUrl": "=https://{{ $node[\"Colocando Dados\"].json[\"URL DO QUEPASA\"] }}",
        "token": "={{ $node[\"Colocando Dados\"].json[\"TOKEN DO QUEPASA\"] }}",
        "resource": "information"
      },
      "id": "8364ddb5-9054-4a68-b6b3-a793e72befd8",
      "name": "Quepasa Info",
      "type": "n8n-nodes-quepasa.quepasa",
      "typeVersion": 1,
      "position": [
        860,
        360
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "baseUrl": "=https://{{ $node[\"Colocando Dados\"].json[\"URL DO QUEPASA\"] }}",
        "token": "={{ $node[\"Colocando Dados\"].json[\"TOKEN DO QUEPASA\"] }}",
        "resource": "webhook",
        "operation": "setup",
        "url": "=https://{{ $node[\"Colocando Dados\"].json[\"URL N8N\"] }}/webhook/to-chatwoot",
        "trackId": "chatwoot",
        "extraAttributes": {
          "attribute": [
            {
              "key": "identifier",
              "value": "={{ $node[\"Informa Identifier\"].json[\"identifier\"] }}"
            },
            {
              "key": "cwhost",
              "value": "=https://{{ $node[\"Colocando Dados\"].json[\"URL CHATWOOT\"] }}"
            },
            {
              "key": "inbox",
              "value": "={{ $node[\"Colocando Dados\"].json[\"NUMERO DO INBOX\"] }}"
            },
            {
              "key": "account",
              "value": "={{ $node[\"Colocando Dados\"].json[\"ID DA CONTA\"] }}"
            },
            {
              "key": "utoken",
              "value": "={{ $node[\"Pega Token Chatwoot\"].json[\"substring\"] }}"
            },
            {
              "key": "atoken",
              "value": "={{ $node[\"Atribui Cria AgentBot a Conta1\"].json[\"access_token\"] }}"
            },
            {
              "key": "qphost",
              "value": "=https://{{ $node[\"Colocando Dados\"].json[\"URL DO QUEPASA\"] }}"
            },
            {
              "key": "qptoken",
              "value": "={{ $node[\"Colocando Dados\"].json[\"TOKEN DO QUEPASA\"] }}"
            }
          ]
        }
      },
      "id": "75f5b889-3c37-44c5-85f9-d159233f43e6",
      "name": "Webhook Update",
      "type": "n8n-nodes-quepasa.quepasa",
      "typeVersion": 1,
      "position": [
        1240,
        880
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "0afcf65c-362f-4feb-9c21-3b9b6fe1453f",
      "name": "Success QrCode",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        620,
        540
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "URL FORMADA",
              "value": "={{ $json[\"URL FORMADA\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5ef2567e-ca1c-494c-80ea-6d7fb02346bb",
      "name": "URL FORMADA",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        160,
        440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $node[\"Colocando Dados\"].json[\"URL CHATWOOT\"] }}/api/v1/accounts/{{ $node.Webhook.json.body.messages[0].account_id }}/conversations/{{ $node.Webhook.json.body.messages[0].conversation_id }}/messages ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $node[\"Pega Token Chatwoot\"].json.substring }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=Informações do servidor:\nToken gerado: {{ $json.server.token }}\nWhatsapp: {{ $json.server.wid }}\n\n\n"
            },
            {
              "name": "message_type",
              "value": "incoming"
            },
            {
              "name": "private",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "a2063d7c-d506-4538-955c-49fbeb793006",
      "name": "Confirmação Dos Dados",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        960,
        680
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $node[\"Colocando Dados\"].json[\"URL CHATWOOT\"] }}/api/v1/accounts/{{ $node.Webhook.json.body.messages[0].account_id }}/conversations/{{ $node.Webhook.json.body.messages[0].conversation_id }}/messages ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $node[\"Pega Token Chatwoot\"].json.substring }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=Tempo para escanear expirou !\nTente novamente digitando /qrcode\n\n"
            },
            {
              "name": "message_type",
              "value": "incoming"
            },
            {
              "name": "private",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "e62a202c-4997-442a-963b-ca2a26d2d1d1",
      "name": "Qrcode Falhou",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        840,
        940
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO \"agent_bot_inboxes\" (\"id\", \"inbox_id\", \"agent_bot_id\", \"status\", \"created_at\", \"updated_at\", \"account_id\") VALUES (nextval('agent_bot_inboxes_id_seq'::regclass), {{ $node[\"Colocando Dados\"].json[\"NUMERO DO INBOX\"] }}, {{ $node[\"Garante AgentBot\"].json[\"id\"] }}, 0, '2023-03-07 15:01:00.823377', '2023-03-07 15:01:00.823377', {{ $node[\"Colocando Dados\"].json[\"ID DA CONTA\"] }});",
        "additionalFields": {}
      },
      "id": "3a8e0c5a-4fb0-4093-b1ca-0b729dcacc9d",
      "name": "Insere AgentBot",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -1020,
        720
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO \"public\".\"agent_bots\" (\"name\", \"account_id\", \"created_at\", \"updated_at\")\nSELECT 'quepasabot', '{{ $json[\"ID DA CONTA\"] }}', NOW(), NOW() \nWHERE NOT EXISTS (SELECT NULL FROM \"public\".\"agent_bots\" WHERE \"account_id\" = '{{ $json[\"ID DA CONTA\"] }}' AND \"bot_type\" = '0' AND \"name\" LIKE '%quepasabot%');\nSELECT \"id\" FROM \"public\".\"agent_bots\" WHERE \"account_id\" = '{{ $json[\"ID DA CONTA\"] }}' AND \"bot_type\" = '0' AND \"name\" LIKE '%quepasabot%';",
        "additionalFields": {}
      },
      "id": "3e9895da-6428-4f8c-aef0-e798313f04f0",
      "name": "Garante AgentBot",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -700,
        440
      ],
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO \"public\".\"access_tokens\" (\"owner_type\", \"owner_id\", \"token\", \"created_at\", \"updated_at\")\nSELECT 'AgentBot', '{{ $node[\"Garante AgentBot\"].json[\"id\"] }}', SUBSTRING(md5(random()::text),0,24), NOW(), NOW() \nWHERE NOT EXISTS (SELECT NULL FROM \"public\".\"access_tokens\" WHERE \"owner_id\" = '{{ $node[\"Garante AgentBot\"].json[\"id\"] }}');\nSELECT \"token\" FROM \"public\".\"access_tokens\" WHERE \"owner_id\" = '{{ $node[\"Garante AgentBot\"].json[\"id\"] }}';",
        "additionalFields": {}
      },
      "id": "0016eb23-8a84-4aa3-97dc-fd27273b7c8d",
      "name": "Garante Token",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -520,
        440
      ],
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Colocando Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Colocando Dados": {
      "main": [
        [
          {
            "node": "Garante AgentBot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerador Token": {
      "main": [
        [
          {
            "node": "Cria o QrCode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria o QrCode": {
      "main": [
        [
          {
            "node": "Envia QRCode No Chatwoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia QRCode No Chatwoot": {
      "main": [
        [
          {
            "node": "Qrcode gerado com sucesso!",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formação da URL": {
      "main": [
        [
          {
            "node": "URL FORMADA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Informa Identifier": {
      "main": [
        [
          {
            "node": "Pega Token Chatwoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Passou tempo Tente Novamente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Envia Mensagem De Conectado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pega Token Chatwoot": {
      "main": [
        [
          {
            "node": "Formação da URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qrcode gerado com sucesso!": {
      "main": [
        [
          {
            "node": "Aguarda 30 Segundos para Escanear Qrcode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se Conectou": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguarda 30 Segundos para Escanear Qrcode": {
      "main": [
        [
          {
            "node": "Restart Quepasa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia Mensagem De Conectado": {
      "main": [
        [
          {
            "node": "Testando 123",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restart Quepasa": {
      "main": [
        [
          {
            "node": "Success QrCode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quepasa Info": {
      "main": [
        [
          {
            "node": "Confirmação Dos Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Update": {
      "main": [
        [
          {
            "node": "Verifica se Conectou",
            "type": "main",
            "index": 0
          },
          {
            "node": "Atualiza Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success QrCode": {
      "main": [
        [
          {
            "node": "Quepasa Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Qrcode Falhou",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URL FORMADA": {
      "main": [
        [
          {
            "node": "Gerador Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmação Dos Dados": {
      "main": [
        [
          {
            "node": "Webhook Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insere AgentBot": {
      "main": [
        [
          {
            "node": "Informa Identifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Garante AgentBot": {
      "main": [
        [
          {
            "node": "Garante Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Garante Token": {
      "main": [
        [
          {
            "node": "Insere AgentBot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "a957e4af-38ce-48d4-8b36-44db7e887edf",
  "id": "9",
  "meta": {
    "instanceId": "cf33494a10c7fddb894ec4f480b7a0ef8832652eb98e75664a7d2731824deaf9"
  },
  "tags": [
    {
      "createdAt": "2023-03-27T10:14:31.447Z",
      "updatedAt": "2023-03-27T10:14:31.447Z",
      "id": "1",
      "name": "SUFFICIT"
    },
    {
      "createdAt": "2023-03-27T10:16:19.227Z",
      "updatedAt": "2023-03-27T10:16:19.227Z",
      "id": "2",
      "name": "QUEPASA"
    },
    {
      "createdAt": "2023-03-27T10:16:19.240Z",
      "updatedAt": "2023-03-27T10:16:19.240Z",
      "id": "3",
      "name": "CHATWOOT"
    },
    {
      "createdAt": "2023-03-27T10:16:36.815Z",
      "updatedAt": "2023-03-27T10:16:36.815Z",
      "id": "4",
      "name": "EngajamentoFlow"
    }
  ]
}